
<div class="hero-unit">
<h1>Welcome to my FIRST Rails project!</h1>

	<p>
		Learn more about me, Tim Brehm,
		<%= link_to " here", "http://timbrehm.com" %>
	</p>

	<p>
		If you you would like to learn more about Ruby on Rails
		<%= link_to " Sign Up ", "http://onemonthrails.com", class: "btn btn-primary btn-medium" %>
	</p>
</div>
